.appCover {
  min-height: 549px;
  height: fit-content;
  padding-bottom: 32px;
  width: 100vw;
  /* min-height: minmax(60vw, fit-content); */
  background-image: url("/assets/images/app-cover.png");
  background-size: cover;
  background-position: center center;
}
