.appCover {
  min-height: 549px;
  height: fit-content;
  padding-bottom: 32px;
  width: 100vw;
  /* min-height: minmax(60vw, fit-content); */
  background-image: url("/assets/images/app-cover.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBar {
  position: relative;
  top: 5px;
  width: 350px;
  margin-top: 100px;
  border-radius: 18px;
  height: 38px;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .appCover {
    background-position: left top;
  }
}
@media only screen and (max-width: 625px) {
  .appCover {
    background-position: right bottom;
  }
}
@media only screen and (min-width: 625px) {
  .searchBar {
    display: none;
  }
}
