.banner {
  margin: 0 auto;
  padding-top: calc(var(--nav-height) + 0px);
  width: 82vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

@media only screen and (max-width: 625px) {
  .banner {
    width: 100vw;
  }

  .title,
  .categories {
    margin-left: 60px;
  }
  .categories {
    overflow-x: auto;
    max-width: calc(100vw - 60px);
  }
}

.categories {
  display: flex;
  align-self: flex-start;
  gap: 12px;
}

.title {
  align-self: flex-start;
  margin-top: 32px;
  margin-bottom: 16px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
