.infoPanel {
  height: 200px;
  width: fit-content;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
}
.title {
  color: inherit;
  font-size: 2em;
}

.message {
  margin: 0;
}
