.navbar {
  background-color: transparent;
  padding: 15px 30px 15px 15px;
  position: fixed;
  top: 0;
  height: var(--nav-height);
  width: 100vw;
  display: flex;
  z-index: 50;
  justify-content: space-between;
}

.searchBar {
  position: relative;
  width: 550px;
}

@media only screen and (max-width: 900px) {
  .searchBar {
    position: relative;
    width: 300px;
  }
}

@media only screen and (max-width: 625px) {
  .searchBar {
    display: none;
  }
}
