.post {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  background-color: #474a51;
  height: fit-content;
  border-radius: 4px;
  overflow: hidden;
}
.postOverlay {
  position: absolute;
  inset: 0;
  transition: background-color var(--animation-function) 0.3s;
  z-index: 10;
}

.postOverlay:hover {
  background-color: #ffffff10;
}

.postDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.6);
  min-height: 8px;
  padding: 0.5rem 1rem;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #b4b9c2;
}

.postTitle {
  font-weight: 600;
  margin-top: 8px;
  line-height: 1.14;
  font-size: 14px;
  text-align: left;
  color: #fff;
  display: inline-block;
  max-height: 45px;
  overflow: hidden;
  padding: 0 15px;
  display: -webkit-box;
  max-height: 31.92px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.postImage {
  width: 100%;
  min-height: 100px;
}

.postToolbarContainer {
  position: relative;
  height: 26px;
  width: 100%;
}

.postToolbar {
  position: absolute;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.actionBtn {
  padding: 4px 8px;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.actionBtnLg {
  padding: 6px 10px;
}
.actionBtnActive {
  background-color: #00000020;
  color: hsl(245 52% 58% / 1) !important;
}
.actionBtn:hover {
  background-color: #00000020;
}

.postImageSkeleton {
  height: 200px;
  animation: ripple 1s var(--animation-function) infinite;
}

.postTitleSkeleton {
  animation: ripple 1s var(--animation-function) infinite;
  height: 16px;
  width: 100px;
  margin-top: 8px;
  border-radius: 8px;
}

.countSkeleton {
  animation: ripple 1s var(--animation-function) infinite;
  width: 25px;
  height: 18px;
  padding: 4px 8px;
  border-radius: 20px;
}

@keyframes ripple {
  from {
    background: #1c1b2c;
  }
  to {
    background: #292839;
  }
}

.postSkeleton {
  background-color: #292839;
  position: relative;
}
.postSkeletonDissolve {
  -webkit-animation: slide-out-elliptic-top-bck 0.6s ease-in-out both;
  animation: slide-out-elliptic-top-bck 0.6s ease-in-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-19 23:14:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-elliptic-top-bck
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-elliptic-top-bck {
  0% {
    opacity: 1;
    height: 282px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-out-elliptic-top-bck {
  0% {
    height: 282px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
