.shareButtonContainer {
    position: relative;
}

.sharePopupContainer {
    position: absolute;
    top: -50px;
    left: -180px;
    display: grid;
    place-items: center;
}

.sharePopup {
    width: fit-content;
    height: 50px;
    background: hsl(222 7% 20% / 1);
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-size: 12px;
    display: flex;
}

.sharePopup input {
    background-color: hsl(222 7% 20% / 1);
    width: 200px;
    border-radius: 0px;
    border: 1px solid white;
    color: white;
    padding: 2px;
}

.sharePopup button {
    padding: 4px
}