@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Onest", sans-serif;
  user-select: none;
}
:root {
  --nav-height: 66px;
  --animation-function: ease-in;
}

body {
  background-color: #2e3035;
  overflow-x: hidden;
}
