.posts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin: 100px 0 32px 0;
  flex-wrap: wrap;
  width: 82vw;
}
@media screen {
}
.postsContainer {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.posts:before {
  content: "";
  background: rgb(23, 21, 68);
  background: linear-gradient(
    180deg,
    rgba(23, 21, 68, 1) 0%,
    rgba(25, 1, 75, 0) 70%
  );
  position: absolute;
  inset: 0;
  top: -50px;
  bottom: 50px;
  z-index: -10;
}
.postsCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
