.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 100px 0 90px 0;
  flex-wrap: wrap;
  width: 82vw;
  min-height: 100vh;
}
@media only screen and (min-width: 1550px) {
  .posts {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 1550px) {
  .posts {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1000px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 855px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 630px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
.postsContainer {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftBanners,
.rightBanners {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.rightBanners {
  right: 20px;
}
.leftBanners {
  left: 20px;
}
.posts:before {
  content: '';
  background: rgb(23, 21, 68);
  background: linear-gradient(180deg, rgba(23, 21, 68, 1) 0%, #292839 70%);
  position: absolute;
  inset: 0;
  top: -50px;
  bottom: 50px;
  z-index: -10;
}
.postsCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
